.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.seacrh-container {
  display: flex;
  flex-direction: column;
}

.patient-item {
  display: flex;
  flex-direction: column;
}
 
.patient-list-info {
  border: 2px solid #b1b1b1;
  border-radius: 10px;
}

.patients-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
