.users-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 15px 0;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-list {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.title-users {
  padding: 0 0 30px;
}

.container-btn-create-new-users {
  position: fixed;
  display: flex;
  bottom: 40px;
}

.create-new-user {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: 60px;

  cursor: pointer;
  background-color: var(--primary-bg-color);
  border: 2px solid var(--btns-brdr-color);
  border-radius: 100px;
}

.create-new-user:hover,
.create-new-user:focus {
  background-color: var(--secondary-bg-color);
  color: var(--white-btns-color);
  border: 2px solid #0148bb;
}
