.container-saved-forms {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.calendar-saved-forms {
  margin: 0 auto;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
}

.btn-calendar {
  margin-top: 12px;
  padding: 8px 16px;
}

.list-saved-forms {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 12px 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.item-saved-forms {
  display: flex;
  flex-direction: column;
  padding: 8px 15px;

  border: 2px solid #b1b1b1;
  border-radius: 10px;
}

.mini-form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.semi-head {
  background-color: #eeeeee;
}

.table-save-size {
    width: 6.6%;
}

.table-save-size1 {
  width: 6.1%;
}

.table-save-size2 {
  width: 5%;
}

.table-save-size3 {
  width: 35%;
}

.text-semititle {
  text-align: right;
}

.semititle-size1 {
  width: 22.9%;
}

.semititle-size2 {
  width: 27.2%;
}

.semititle-size3 {
  width: 10%;
}

.text-head-saved-forms {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.check-static {
  text-align: center;
}

.autocomplete-container {
  position: relative;
  width: 100%;
}

.autocomplete-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: 117px;
  width: 251px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.autocomplete-dropdown li,
.autocomplete-dropdown-medicament li,
.autocomplete-dropdown-diagnoses li{
  padding: 5px 10px;
  cursor: pointer;
}

.autocomplete-dropdown li:hover,
.autocomplete-dropdown-medicament li:hover,
.autocomplete-dropdown-diagnoses li:hover {
  background-color: #eee;
}

.autocomplete-dropdown-medicament {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.autocomplete-dropdown-diagnoses {
  position: absolute;
  top: 100%;
  left: 0;

  margin-left: 98px;
  width: 91.3%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.medicament-input {
  width: 100%;
}

.yellow-background {
  background-color: rgb(255, 248, 234);
}

.green-background {
  background-color: rgb(228, 248, 228);
}