.container-saved-forms {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

td {
  padding: 4px 8px;
}

.calendar-saved-forms {
  margin: 0 auto;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
}

.btn-calendar {
  margin-top: 12px;
  padding: 8px 16px;
}

.list-saved-forms {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 12px 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.item-saved-forms {
  display: flex;
  flex-direction: column;
  padding: 16px 15px 4px;

  border: 2px solid #b1b1b1;
  border-radius: 10px;
}

.input-size-save-table {
  padding-left: 10px;
}

.table-save input,
.table-save select,
.mini-form input{
 height: 36px;
}

.table-save select {
  cursor: pointer;
}

.mini-form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.semi-head {
  background-color: #eeeeee;
}

.table-save-size {
    width: 7%;
}

.table-save-size1 {
  width: 6.1%;
}

.table-save-size2 {
  width: 5%;
}

.table-save-size3 {
  width: 35%;
}

.text-semititle {
  text-align: right;
}

.semititle-size1 {
  width: 20.7%;
}

.semititle-size2 {
  width: 24.6%;
}

.semititle-size3 {
  width: 10.2%;
}
/* Завантаження всієї таблиці */
.semititle-size4 {
  width: 4%;
  cursor: pointer;

}
.semititle-size4:hover {
  background-color: #ccc;
}

.text-head-saved-forms {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.text-size-saved-forms {
  padding: 8px 8px;
}


.check-static {
  text-align: center;
}

.autocomplete-container {
  position: relative;
  width: 100%;
}

.autocomplete-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-left: 106px;
  width: 229px;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.autocomplete-dropdown li,
.autocomplete-dropdown-medicament li,
.autocomplete-dropdown-diagnoses li,
.autocomplete-dropdown-operating li{
  padding: 5px 10px;
  cursor: pointer;
  border-top: 1px solid #ccc;
}

.autocomplete-dropdown li:hover,
.autocomplete-dropdown-medicament li:hover,
.autocomplete-dropdown-diagnoses li:hover,
.autocomplete-dropdown-operating li:hover {
  background-color: #d0e4fa;
}

.autocomplete-dropdown-medicament {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.autocomplete-dropdown-diagnoses {
  position: absolute;
  top: 100%;
  left: 0;

  margin-left: 89px;
  width: 92.1%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.autocomplete-dropdown-operating {
  position: absolute;
  top: 100%;
  left: 0;

  margin-left: 106px;
  width: 90.6%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.number-history-padding {
  padding-right: 4px;
}

.medicament-input {
  width: 100%;
}

.yellow-background {
  background-color: rgb(255, 248, 234);
}

.green-background {
  background-color: rgb(228, 248, 228);
}

.history-input {
  width: 100%;
}

.btns-save-table-container {
  display: flex;
  justify-content: flex-end;
  gap: 4px;

  padding: 12px 0;
}

.btn-save-table {
padding: 4px 8px;
cursor: pointer;
}

.custom-tooltip {
  font-size: 16px; /* или любой другой размер, который вам нужен */
}