.admin-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 15px 0;
}

.admin-container-btns {
    display: flex;
    justify-content: space-between;
}


.admin-btns {
    padding: 4px 20px;
}