.st-med-container {
  max-width: 1700px;
  padding: 40px 0;
  display: flex;
  gap: 4px;
}

.st-med-sort-container {
  min-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.select-value-page-med {
  margin-top: 8px;
  padding-left: 4px;
  height: 30px;
  width: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.select-value-page-med option {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.table-st-med {
  flex: 1;
  max-width: 1200px;
}

.create-report-st-med-btn {
  width: 200px;
  height: 40px;

  cursor: pointer;

  background-color: #c4eee0;
  border: 2px solid #78d4a9;
  border-radius: 6px;
  box-shadow: -1px 1px 3px 1px #e0e0e0;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.create-report-st-med-btn:hover {
  color: #fff;
  background-color: #5ac5a1;
  border-color: #3da474;
}

.size-table-st-med {
  width: 60%;
}
.size-table-st-med1 {
  width: 10%;
}
.size-table-st-med2 {
  width: 30%;
}

.table-st-med-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.table-st-med-unit {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.table-st-med-total {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.table-st-med-head th,
.table-st-cons-head th {
  padding: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.size-table-st-cons {
  width: 7%;
}

.size-table-st-cons2 {
  width: 12%;
}

.table-st-cons-total {
  background-color: #c2c2c2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.table-st-cons-total td {
  padding: 8px 6px;
  text-align: center;
}

.table-st-cons-data {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.table-st-cons-data td {
  text-align: center;
}

.data-receipt_number {
  text-align: center;
}

.cons-big-container-data-full {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.cons-full-data-size2 {
  width: 20%;
}

.cons-full-data-size1 {
  width: 26%;
  text-align: center;
}

.cons-full-data-size {
  width: 26%;
  text-align: center;
}

.cons-full-data-size3 {
  width: 5.8%;
  text-align: center;
}

.cons-full-data-size4 {
text-align: center;
}
